.amlignore
.zip
.chroma/
.ipynb_checkpoints/
.ipynb_aml_checkpoints/ 
__pycache__/
common/__pycache__/
.streamlit/
*.amltmp 
*.amltemp
data/
credentials.env
apps/frontend/*.params.json
apps/frontend/*.zip
apps/backend/*.params.json
apps/backend/*.zip
