langchain==0.0.230
faiss-cpu
openai
tiktoken
docx2txt
Pillow
pypdf
tenacity
SQLAlchemy<2.0.0
pyodbc
tabulate
azure-cosmos==4.5.1
# botbuilder-integration-aiohttp>=4.14.4
streamlit
python-dotenv
azure-ai-formrecognizer
azure-mgmt-resource
azure-mgmt-search
azure-identity
azure-mgmt-cognitiveservices==13.3.0